/.vscode
/Clash of Cars.cpp
/cohen - sutherland 2D line clipping algorithm.cpp
/demo.cpp
/flag.cpp
/Input.txt
/lab_final.cpp
/Line Strip.cpp
/Lines.cpp
/Mid Point Circle Algorithm Implementation.cpp
/mingw32
/output
/Output.txt
/plus.cpp
/Program.exe
/redisplay.cpp
/Sadid.cpp
/school.cpp
/Square.cpp
/Sutherland-Hodgman Polygon Clipping Algorithm.cpp
/Triangle.cpp